<div class="w-full flex justify-center">
    <div class="container px-6 pt-8">
        <div class="px-12 py-4 ">
            <h5 class="text-primary text-[24px] font-bold">{{titleForm}}</h5>
        </div>
        <form [formGroup]="blogForm" class="w-full flex flex-col gap-6 px-12">
            <div>
                <label for="title">Title</label>

                <input id="title" class="w-full bg-transparent border-b-primary border-b" pInputText
                    formControlName="title" />
                @if (title?.invalid && (title?.touched || title?.dirty)) {
                <div>
                    @if (title?.errors?.['required']) {
                    <small class="text-danger">El campo Title es obligatorio.</small>
                    }
                </div>
                }
            </div>
            <div>
                <label for="body">Body</label>
                <textarea id="body" class="w-full bg-transparent border-b-primary border-b" pInputText
                formControlName="body" ></textarea>
                
                @if (body?.invalid && (body?.touched || body?.dirty)) {
                <div>
                    @if (body?.errors?.['required']) {
                    <small class="text-danger">El campo body es obligatorio.</small>
                    }
                </div>
                }
            </div>
            <div class="w-full"></div>
            <p-button (click)="create()" [label]="label" type="submit" class="bg-primary mt-4 !py-2 text-center rounded"
                [disabled]="blogForm.invalid" />
        </form>
    </div>
</div>